*{
    padding: 0px;
    margin: 0px;
}
.facebook_main{
    display: flex;
    width: 80vw;
    margin: auto;
    /* background-color: aqua !important; */
    height: auto;
    margin-top: 100px;
}
body{
    background-color: rgb(240,242,245) !important;
    
}
.facebook_left{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.facebook_left>h1{
    color: rgb(88, 88, 247);
    font-size:55px;
    font-weight: 900;
}
.facebook_left>p{
    color: black;
    font-size: 30px;
  
}
.facebook_right{
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 10px solid rgb(212, 75, 75);
    box-shadow: 10px black;
    align-items: center;
}
.email ,.password{
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
}
::placeholder{
    text-align:start;
   font-weight: 400;
}
.login_button{
    background-color: rgb(122, 122, 242);
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
}
.Create_acc{
    background-color: rgb(95, 244, 95);
    padding: 8px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 800;
    width: 70% !important;
    margin-bottom: 14px;
    margin-top: 20px;
}
.facebook_right>a{
    text-decoration: none;
    text-align: center;
    font-size: 19px;
}
.creat_page{
 margin-top: 15px;
 text-align: center;
font-size:  13px;
 color: rgb(52, 48, 48);
 /* margin-bottom: 500px; */
} 
.card1{
    display: flex;
    flex-direction: column;
   align-items: center;
    padding: 5px;
    border-radius: 8px !important;
    background-color: white;
    box-shadow: 5px 10px #888888;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 14px;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100% !important;
}
@media only screen and (max-width: 600px) {
   .facebook_main{
    flex-direction: column;
   }
   .card1{
    width: 95%!important;
   }
   .facebook_right{
    width: 100%!important;
    padding: 0px;
   }
   
   .facebook_left>h1{
    color: rgb(88, 88, 247);
    font-size:40px;
    font-weight: 900;
}
.facebook_left>p{
    color: black;
    font-size: 20px;
    text-align: center;
  
}
.facebook_left{
    padding: 5px;
    display: flex;
    align-items: center;
}
.facebook_main{
    margin-top: 100px;
}
body{
    max-width: 100% !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
 }
}
/* body {
     overflow-y: hidden; 
     overflow-x: hidden; 
     } */
